<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration Form</title>

    <!-- Font Icon -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="app.js"></script>

    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #e8e8e8;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .signup {
            background: #fff;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 70%;
            max-width: 800px;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: bold;
        }

        .form-row {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            margin-bottom: 12px;
        }

        .form-group {
            flex: 1;
            margin-bottom: 15px;
        }

        .form-group label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
            color: #555;
        }

        .form-input,
        .select-list select {
            width: 100%;
            padding: 10px;
            border: 1px solid #3498db;
            border-radius: 5px;
            box-sizing: border-box;
            transition: border-color 0.3s;
        }

        .form-input:focus,
        .select-list select:focus {
            border-color: #2980b9;
        }

        .form-radio label {
            margin-right: 15px;
            color: #555;
        }

        .form-text {
            margin-top: 0px;
        }

        .add-info-link {
            color: #3498db;
            text-decoration: none;
            cursor: pointer;
            display: block;
            margin-top: 10px;
            margin-bottom: 15px;
            font-size: 14px;
        }

        .add_info {
            display: none;
            margin-top: 15px;
            transition: all 0.3s ease;
        }

        .form-submit {
            background: #3498db;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        .form-submit:hover {
            background: #2980b9;
        }

        .ui-datepicker {
            font-size: 14px;
        }

        .form-group .container input[type="radio"] {
            display: none;
        }

        .form-group .container label {
            position: relative;
            padding: 8px 15px;
            cursor: pointer;
            display: inline-block;
            font-size: 14px;
            color: #555;
            border: 2px solid #3498db;
            border-radius: 8px;
            transition: 0.4s ease-in-out 0s;
            margin-right: 5px;
            white-space: nowrap;
        }

        .form-group .container input[type="radio"]:checked+label {
            background-color: #3498db;
            color: #fff;
        }

        .form-group .container label:hover {
            border-color: #2980b9;
        }

        .form-group .form-flex input[type="radio"] {
            display: none;
        }

        .form-group .form-flex label {
            position: relative;
            padding: 10px 20px;
            cursor: pointer;
            display: inline-block;
            font-size: 14px;
            color: #555;
            border: 2px solid #3498db;
            border-radius: 8px;
            transition: 0.4s ease-in-out 0s;
            margin: 0 4px;
        }

        .form-group .form-flex input[type="radio"]:checked+label {
            background-color: #3498db;
            color: #fff;
        }

        .form-group .form-flex label:hover {
            border-color: #2980b9;
        }

        .flex1 {
            display: flex;
        }

        /* Popup styling */
        /* Popup styling */
        .popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(255, 255, 255, 0.9);
            /* Semi-transparent white background */
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            /* Soft shadow effect */
            z-index: 999;
            /* Ensure pop-up is above other content */
            backdrop-filter: blur(8px);
            /* Apply a blur effect to the elements behind the pop-up */
        }

        .popup-content {
            text-align: center;
            /* Center align content */
        }

        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 20px;
            cursor: pointer;
            color: #555;
            /* Dark gray color for close button */
        }

        .blur-background {
            filter: blur(4px); /* Apply a blur effect to the background */
        }
    </style>
</head>

<body>
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <form method="post" action="/register" id="signup-form" class="signup-form"
                    onsubmit="submitForm(event)">
                    <div class="form-row">
                        <div class="form-group">
                            <label for="ID">ID</label>
                            <input type="text" class="form-input" name="ID" id="ID" value="{{plus1}}"readonly />
                            <label for="Name">Full name</label>
                            <input type="text" class="form-input" name="Name" id="Name" required />
                        </div>
                        <div class="form-group">
                            <label for="MobNo">Mobile Number</label>
                            <input type="text" class="form-input" name="MobNo" id="MobNo" required />
                            <label for="EnrollNo">Enrollment Number</label>
                            <input type="text" class="form-input" name="EnNo" value="ONLY-TRAINING" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group form-icon">
                            <label for="AddmissionDate">Add Date</label>
                            <input type="text" class="form-input" name="AddmissionDate" id="add_date"
                                placeholder="DD-MM-YYYY" readonly />
                        </div>
                        <div class="form-row">
                        </div>

                        <div class="form-row">
                            <div class="form-group">
                                <label for="LicenceNo">Licence Number</label>
                                <input type="text" value="MH24 /00" class="form-input" name="LicenceNo" id="LicenceNo"
                                    required />
                            </div>
                            <div class="form-group">
                                <label for="MDLStatus">LLR Issue</label>
                                <div class="container">
                                    <div class="flex1">
                                        <form>
                                            <label>
                                                <input type="radio" name="MDLStatus" checked value="ISSUE" />
                                                <span>ISSUE</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="MDLStatus" value="NOT-ISSUE" />
                                                <span>NOT-ISSUE</span>
                                            </label>
                                            <label>
                                                <input type="radio" name="MDLStatus" value="N/A" />
                                                <span>N/A</span>
                                            </label>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group">
                                <label for="LLRType">LLR TYPE</label>
                                <div class="select-list">
                                    <select name="LLRType" id="LLRType" required>
                                        <option value="">Select</option>
                                        <option value="MCWG / LMV">MCWG / LMV</option>
                                        <option value="MCWG / LMV-TR">MCWG / TR</option>
                                        <option value="LMV">LMV</option>
                                        <option value="LMV-TR">LMV-TR</option>
                                        <option value="ONLY-TRAINING">ONLY-TRAINING</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Type">Add / Fresh</label>
                                <div class="select-list">
                                    <select name="Type" id="Type" required>
                                        <option value="">Select</option>
                                        <option value="FRESH">FRESH</option>
                                        <option value="ADDITIONAL">ADDITIONAL</option>
                                        <option value="ONLY-TRANING">ONLY-TRANING</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-text">
                            <a href="#" class="add-info-link" id="add-info-link">
                                <i class="zmdi zmdi-chevron-right"></i>Additional info
                            </a>
                            <div class="add_info" id="add_info">

                                <div class="form-row">
                                    <div class="form-group">
                                        <label for="Total">Total Fees</label>
                                        <input type="text" class="form-input" name="Total" id="Total" required />
                                        <label for="Deposite">Deposited Fee</label>
                                        <input type="text" class="form-input" name="Deposite" id="Deposite"
                                            onblur="Pendingfee()" required />
                                    </div>
                                    <div class="form-group">
                                        <label for="Pending">Pending Fees</label>
                                        <input type="text" class="form-input" name="Pending" id="Pending" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input class="form-submit" type="submit" value="Submit" onclick="openPopup()">
                        </div>
                        <!-- Add a Reset button inside the form -->
                        <div class="form-group">
                            <input type="reset" class="form-submit" value="Reset" />
                        </div>

                    </div>
                </form>
            </div>
        </div>
        </div>

    </section>
    <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closePopup()">&times;</span>
            <p>Data Submitted Successfully!!</p>
        </div>
    </div>
    <script>
        async function submitForm() {
            try {
                const response = await fetch('/register', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        // ... your form data here ...
                    }),
                });

                const responseData = await response.json();
                handleRegistrationResponse(responseData);
            } catch (error) {
                console.error('Error during form submission:', error);
                // Handle error or show a different message if needed
            }
        }



        function openPopup() {
            var popup = document.getElementById("popup");
            popup.style.display = "block";
            document.querySelector(".signup").classList.add("blur-background");

        }

        function closePopup() {
            var popup = document.getElementById("popup");
            popup.style.display = "none";
            document.querySelector(".signup").classList.remove("blur-background");
            document.getElementById('signup-form').reset();
        }

        $(document).ready(function () {
            // Initialize the datepicker
            $("#add_date").datepicker({
                dateFormat: "dd-mm-yy",
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true
            });


            $("#add-info-link").click(function (e) {
                e.preventDefault();
                $("#add_info").toggle();
            });

            $("input[name='MDLStatus']").change(function () {
                // Remove the background color from all labels
                $(".form-group .container label").css({
                    "background-color": "",
                    "color": ""
                });

                // Check which radio is selected
                $("input[name='MDLStatus']:checked").each(function () {
                    // Change background color for the selected label
                    $(this).closest("label").css({
                        "background-color": "#3498db",
                        "color": "#fff"
                    });
                });

                // Check LLR Issue value
                var llrIssue = $("input[name='MDLStatus']:checked").val();

                // Update LLR TYPE and Add / Fresh based on LLR Issue value
                if (llrIssue === 'N/A') {
                    $("#LLRType").val("ONLY-TRAINING");
                    $("#Type").val("ONLY-TRANING");
                } else {
                    $("#LLRType").val("");
                    $("#Type").val("");
                }
            });




        });




        function Pendingfee() {
            var Totalfee = document.getElementById('Total').value;
            var Deposite = document.getElementById('Deposite').value;

            // Parse input values to integers
            var totalfeeValue = parseInt(Totalfee, 10);
            var depositeValue = parseInt(Deposite, 10);

            // Check if the parsed values are valid numbers
            if (!isNaN(totalfeeValue) && !isNaN(depositeValue)) {
                var pending = totalfeeValue - depositeValue;

                // Update Pending based on the calculated value
                if (pending > 0) {
                    document.getElementById('Pending').value = pending;
                } else if (pending < 0) {
                    document.getElementById('Pending').value = "ENTER A PROPER VALUE";
                } else {
                    document.getElementById('Pending').value = "0000";
                }
            } else {
                // Handle the case where input values are not valid numbers
                document.getElementById('Pending').value = "Invalid input";
            }
        }

        function submitForm(event) {
            event.preventDefault(); // Prevent the default form submission

            const formData = new FormData(event.target); // Get form data
            const data = Object.fromEntries(formData.entries()); // Convert FormData to object

            console.log(data); // Log the form data before submission
            event.target.submit();

        }
    </script>
</body>

</html>