<!-- views/searchData.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WHEELDATA</title>
    <link rel="icon"  href="./favicon.png" type="image/x-icon">
</head>
<body>
  <form action="/searchData" method="get">
  <label for="searchMonth">Select Month:</label>
  <select name="searchMonth" id="searchMonth">
    <option value="1">January</option>
    <option value="2">February</option>
    <!-- ... repeat for other months -->
  </select>
  <button type="submit">Search</button>
</form>

</body>
</html>