<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<style>
        @import url('https://fonts.googleapis.com/css?family=Roboto');
        

body{
	font-family: 'Roboto', sans-serif;
}
* {
	margin: 0;
	padding: 0;
}
i {
	margin-right: 10px;
}
h2{
	margin:0px;
}

h6{
	margin:0px;
	color:#777;
}

#accordian {
	background: #20283E;
	width: 250px;
	padding: 10px;
	float: left;
	height: 88.6%;
	overflow-x: hidden;
	position: relative;
	padding-right: 0px;
    margin-top: 80px;
    
}
.main-navbar{
	position: relative;
}

#accordian li {
	list-style-type: none;
}

.logininfo{
    height: 250px;
}

#accordian ul li a{
	color: rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 15px;
    line-height: 45px;
    display: block;
    padding: 0px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}

#accordian>ul>li.active>a{
	color: #5161ce;
	background-color: transparent;
	transition: all 0.7s;
}


#accordian a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10%;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}

#accordian .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.selector-active{
	width: 100%;
	display:inline-block;
	position:absolute;
	height: 37px;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #f0f0f0;
	border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.selector-active .top,
.selector-active .bottom{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #f0f0f0;
	right: 0;
}
.selector-active .top{
	top: -25px;
}
.selector-active .bottom{
	bottom: -25px;
}
.selector-active .top:before,
.selector-active .bottom:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #20283E;
}
.selector-active .top:before{
	left: -25px;
	top: -25px;
}
.selector-active .bottom:before{
	bottom: -25px;
	left: -25px;
}
</style>
    <script>
    $(document).ready(function() {
            // Handle click events on menu items
            $("#accordian").on("click", "li", function(e) {
                e.preventDefault(); // Prevent default link behavior
                var pageURL = $(this).find('a').attr('href'); // Get the page URL from the clicked item

                // Load the content dynamically into the content div
                $('#content').fadeOut('fast', function() {
                    $(this).load(pageURL, function() {
                        $(this).fadeIn('fast');
                    });
                });
            });

            // Rest of your existing JavaScript code here
            // ---------vertical-menu with-inner-menu-active-animation-----------
            var tabsVerticalInner = $('#accordian');
            var selectorVerticalInner = $('#accordian').find('li').length;
            var activeItemVerticalInner = tabsVerticalInner.find('.active');
            var activeWidthVerticalHeight = activeItemVerticalInner.innerHeight();
            var activeWidthVerticalWidth = activeItemVerticalInner.innerWidth();
            var itemPosVerticalTop = activeItemVerticalInner.position();
            var itemPosVerticalLeft = activeItemVerticalInner.position();
            $(".selector-active").css({
                "top": itemPosVerticalTop.top + "px",
                "left": itemPosVerticalLeft.left + "px",
                "height": activeWidthVerticalHeight + "px",
                "width": activeWidthVerticalWidth + "px"
            });

            $("#accordian").on("click", "li", function(e) {
                $('#accordian ul li').removeClass("active");
                $(this).addClass('active');
                var activeWidthVerticalHeight = $(this).innerHeight();
                var activeWidthVerticalWidth = $(this).innerWidth();
                var itemPosVerticalTop = $(this).position();
                var itemPosVerticalLeft = $(this).position();
                $(".selector-active").css({
                    "top": itemPosVerticalTop.top + "px",
                    "left": itemPosVerticalLeft.left + "px",
                    "height": activeWidthVerticalHeight + "px",
                    "width": activeWidthVerticalWidth + "px"
                });
            });

            var path = window.location.pathname.split("/").pop();
            if (path === '') {
                path = 'index.html';
            }
            var target = $('#accordian ul li a[href="' + path + '"]');
            target.parent().addClass('active');
        });

    </script>
</head>
<body>
    <div class="header" style="background-color: #ce0000; height: 80px; width: 100%; z-index: 100; position:fixed">
    </div>
    <div id="accordian">
            <div class="logininfo">

            </div>
            <ul class="show-dropdown main-navbar">
                <div class="selector-active"><div class="top"></div><div class="bottom"></div></div>
                <li class="active">
                    <a href="/index"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
                </li>
                <li>
                    <a href="/register"><i class="far fa-address-book"></i>New Admission</a>
                </li>
                <li>
                    <a href="/update"><i class="far fa-clone"></i>Update information</a>
                </li>
                <li>
                    <a href="/view"><i class="far fa-calendar-alt"></i>Student Information</a>
                </li>
               
                <li>
                    <a href="/abc"><i class="far fa-heart"></i>Favorite</a>
                </li>
            </ul>
        </div>
</body>
</html>